button.ui.button.confirmation-button{
display:flex;
justify-content: center;
align-items:center;
text-align:center;
width:100%;
margin-top:20px;
}

.confirm-page-container{
margin-bottom:180px;
display:flex;
justify-content: center;
align-items:center;
text-align:center;
}

//iphone
@media only screen and (max-width: 600px) {
.confirm-page-container{
margin-bottom:0px;
}
}