.landingSegment {
  display: flex;
  justify-content: center;
  align-items: center;

  // opacity: 0.8;
  // background-color: cornflowerblue;
}

.LandingForm-container {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/cover-image.jpg);
  background-size: cover;
  height: 50vh;
}
.LandingPage-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:100px;
  
  
}
.landingpage-header{
   display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // background-color: white
}

.cards {
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
