.container{
  display:flex;
  justify-content:center;
  align-items:center
}

.form-container{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  padding-top:30px;

}

.form-button{
  display:flex;
  justify-content:center;
  align-items:center;
  
}

button.ui.button{
background: cornflowerblue;

}

.field{

  width:400px
}