.container{
  display:flex;
  justify-content:center;
  align-items:center
}

.signup-form{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  padding-top:30px;
  padding-bottom:80px;

  

}

.header-signup{
  text-align: center
}
.form-button{
  display:flex;
  justify-content:center;
  align-items:center;
  padding-top:10px;
  padding-bottom: 10px;
  
}

button.ui.button{
background: cornflowerblue;

}

.field{

  width:400px

  
}


p{
  text-align:center;
}

//iphone
@media only screen and (max-width: 600px) {
    .field{
      width:300px
    }
    .signup-form{
      padding-bottom:0px;
    }
  }